* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: #2ec8ea;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container {
    background: rgb(92, 134, 250);
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(8, 42, 212, 0.908);
    width: 100%;
    max-width: 500px;
  }
  
  .post-form h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
  }
  
  .post-form input[type="text"],
  .post-form textarea,
  .post-form input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #367def;
    border-radius: 6px;
    font-size: 14px;
    resize: none;
  }
  
  .post-form textarea::placeholder,
  .post-form input::placeholder {
    color: #040404;
  }
  
  .post-form button {
    width: 100%;
    padding: 12px;
    background-color: #0d71dc;
    color: rgb(236, 238, 241);
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .post-form button:hover {
    background-color: #d1ddeb;
  }